@import "./base.css";

#app {
  margin-left: 10%; /* Same as the width of the sidebar */
}

#app {
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
}

body {
  display: flex;
  /* place-items: center; */
  /* flex-direction: column; */
  padding-top: 5%;
  place-items: center;
}